{% extends 'base.html' %}

{% block title %} Business News {% endblock title %}
{% block Businessactive %} active {% endblock Businessactive %}
{% block body %}

<h3 class="card-header"><span id="typed"></span></h3>


<script>
  var typed = new Typed('#typed', {
    strings: ["Business News", "Business News"],
    backSpeed: 15,
    smartBackspace: true,
    backDelay: 1200,
    startDelay: 1000,
    typeSpeed: 25,
    loop: true,

  });
</script>


<div class="row">
  {% load static %}

  {% for i,j in datab.items %}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">{{ j }}</p>
        <a href="{{ i }}" onclick="return false;" class="btn btn-primary">Read More</a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ i }}" target="_blank"><img
            src="{% static 'img/facebook-logo-3.png' %}" height="5%" width="5%"></a>
        <a href="https://twitter.com/intent/tweet?text={{ j }}&url={{ i }}" target="_blank"><img
            src="{% static 'img/twitter.png' %}" height="7%" width="7%"></a>
        <a href="https://web.whatsapp.com/send?text={{ i }}" target="_blank"><img src="{% static 'img/whatsapp.jpg' %}"
            height="5%" width="5%"></a>


      </div>

    </div>
  </div>

  {% endfor %}

</div>
<!-- <h5 class="card-header">Business News</h5>
<div class="row">
  {% load static %}

  {% for i,j in datab.items %}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">{{ j }}</p>
        <a href="{{ i }}" class="btn btn-primary">Read More</a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ i }}" target="_blank"><img
            src="{% static 'img/facebook-logo-3.png' %}" height="5%" width="5%"></a>
        <a href="https://twitter.com/intent/tweet?text={{ j }}&url={{ i }}" target="_blank"><img
            src="{% static 'img/twitter.png' %}" height="7%" width="7%"></a>
        <a href="https://web.whatsapp.com/send?text={{ i }}" target="_blank"><img src="{% static 'img/whatsapp.jpg' %}"
            height="5%" width="5%"></a>


      </div>

    </div>
  </div>

  {% endfor %}

</div> -->

{% endblock body%}