{% extends 'base.html' %}

{% block title %} IPL-2021 News {% endblock title %}
{% block IPLactive %} active {% endblock IPLactive %}
{% block body %}

<h5 class="card-header">IPL-2021 News</h5>
<div class="row">
  {% load static %}

  {% for i,j in datai.items %}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">{{ j }}</p>
        <a href="{{ i }}" class="btn btn-primary">Read More</a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ i }}" target="_blank"><img
            src="{% static 'img/facebook-logo-3.png' %}" height="5%" width="5%"></a>
        <a href="https://twitter.com/intent/tweet?text={{ j }}&url={{ i }}" target="_blank"><img
            src="{% static 'img/twitter.png' %}" height="7%" width="7%"></a>
        <a href="https://web.whatsapp.com/send?text={{ i }}" target="_blank"><img src="{% static 'img/whatsapp.jpg' %}"
            height="5%" width="5%"></a>


      </div>

    </div>
  </div>

  {% endfor %}

</div>

{% endblock body%}