body
{
background:#3e3e3e;
}
a
{
 text-decoration:none;
 overflow:hidden;
}
b,p,h2
{
color : white;
overflow:hidden;
}
#aboutus{
color : white;
float:center;
}
#aut{
color : white;
font-size: 150%;
}
.top
{
    width:100%;
    height:10%;
    position: fixed;
    color:white;
    background:#3e3e3e;
    overflow:hidden;
}

.fixed1
{
    position:fixed;
}
.line
{
    height: .5em;
    background: #8EE4AF;
}
.logo
{
 background:#00d13b;
 float:left;
 border-radius:5em;
 box-shadow:31.25% 31.25% 62.5% grey;
 width:15%;
 margin-left:0%;
 margin-top:0%;
 color:white;
 text-align:center;
 overflow:hidden;
}
.menu
{
 float:center;
 width:70%;
 overflow:hidden;
}
.menu a
{
 text-decoration:none;
 text-align:center;
 color:white;
 box-shadow:0% 0% 31.25% grey;
 display:inline-block;
 background:#00d13b;
 padding:1%;
 border-top-right-radius:200%;
 border-bottom-right-radius:200%;
 width:15%;
 height:50%;
 margin-top:1%;
 overflow:hidden;
}
.main
{
 height:50%;
 padding-top:2%;
 margin-top:0%;
 max-height:50%;
 width:100%;
 overflow:hidden;
}

.news
{

 margin-top:3%;
 width:30%;
 padding:5px;
 height:100%;
 float:left;
 overflow:hidden;

}
.posts
{
 width:100%;
 padding:5px;
 height:110%;
 overflow:hidden;
}
.content
{
 box-shadow:0px 0px 5px grey;
 padding:2px;
 margin:20px;
 overflow:hidden;
}

.art-content
{
 box-shadow:0px 0px 5px grey;
 padding:2px;
 margin:20px;
 width:94%;
 text-color:white;
 overflow:hidden;
}
.art
{
 border-left: 5px solid grey;
 border-right: 5px solid grey;
 float:left;
 margin-top:3%;
 padding:18px;
 width:39%;
overflow:hidden;
}
.footer
{
 margin:2em auto;
 background:#black;
 overflow:hidden;
 color:white;
}
.desc
{
 background:#00d13b;
 float:right;
 border-radius:5em;
 box-shadow:5px 5px 10px grey;
 width:30%;
 margin-right:0%;
 margin-top:0%;
 color:white;
 text-align:center;
 overflow:hidden;
 }
.img1
{
 margin-right:5px;
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  width:300px; /* Set a small width */
  height:200px;
}

.seesion
{
 background: #3500D3;
 float:right;
 border-radius:5em;
 box-shadow:0px 0px 50px grey;
 width:20em;
 margin-right:0%;
 color:white;
 text-align:center;
 overflow:hidden;
}


.news1
{
 color:#FFFFFF;
 width:30%;
 margin-top:3%;
 padding:10px;
 height:70%;
 float:right;
 overflow:hidden;
}

.content1
{
 box-shadow:0px 0px 5px grey;
 padding:2px;
 margin:20px;
 overflow:hidden;
}

.a-content
{
    color:#FFFFFF;
    overflow:hidden;
}

